:root {
  --gray-background: #d9d9d9;
  --lighter-gray-background: #eaeaea;
  --darkblue-background: #374151;
}

* {
  --sb-track-color: #232e3300;
  --sb-thumb-color: #374151;
  --sb-size: 5px;
}

*::-webkit-scrollbar {
  width: var(--sb-size);
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
.dashboardMainFrame {
  overflow: clip;
  display: grid;
  grid-template-columns: auto 1fr;
  position: relative;
  width: 100%;
}

.dashboardBanner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 1.5em;
  height: 5em;
  background-color: var(--gray-background);
  z-index: 50;
}

.temporarySideBar {
  background-color: var(--darkblue-background);
  width: 5em;
  height: 100vh;
  position: static;
  left: 0;
}

.pageContent {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.outletHolder {
  overflow-x: clip;
  overflow-y: scroll;
  height: calc(100vh - 5em);
  width: 100%;
}

.sidebarHolder {
  width: fit-content;
}

@media (max-width: 700px) {
  .dashboardMainFrame {
    display: flex;
    width: 100vw;
  }

  .dashboardBanner {
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    gap: 0.5em;
    padding-bottom: 1em;
    width: 100%;
  }

  .dashboardBanner h2 {
    font-size: 0.9em;
    width: 80%;
  }

  .pageContent {
    width: 100%;
    /* margin-left: 5em; */
    display: flex;
    flex-direction: column;

    /* display: none; */
  }

  .searchHolder {
    width: 80%;
  }
}
