* {
  --sb-track-color: #232e3300;
  --sb-thumb-color: #374151;
  --sb-size: 5px;
}

*::-webkit-scrollbar {
  width: var(--sb-size);
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
.dashboardMainFrame {
  overflow: clip;
  display: grid;
  grid-template-columns: auto 1fr;
  position: relative;
  width: 100%;
}

.dashboardBanner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1.5em;
  height: 5em;
  background-color: var(--lighter-gray-background);
  z-index: 50;
  padding: 0 2%;
}

.pageContent {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.outletHolder {
  overflow-x: clip;
  overflow-y: auto;
  /* height: calc(100vh - 5em); */
  height: 100%;
  width: 100%;
  position: relative;
}

.sidebarHolder {
  width: fit-content;
}

.searchHolder {
  position: relative;
}

.searchHolder p {
  text-align: center;
  height: 2em;
}

.searchResults {
  position: absolute;
  width: 20em;
  top: 100%;
  transform: translate(1em, 0.5em);
  background-color: white;
  border-radius: 0.5em;
  box-shadow: 2px 2px 10px black;

  max-height: 20em;
  overflow: auto;
}

.studentBox {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.5em 0em 0.5em 1em;
  position: relative;
  cursor: pointer;
}

.studentBox:hover {
  background-color: var(--lighter-gray-background);
}

.studentBox::after {
  content: "";
  position: absolute;
  background-color: var(--darkblue-background);
  height: 2px;
  width: 90%;
  bottom: 0;
  left: auto;
  border-radius: 1.5em;

  transform: translateY(2px);
}

.studentBox img {
  border-radius: 50%;
  width: 3em;
}

@media (max-width: 700px) {
  .dashboardMainFrame {
    display: flex;
    width: 100vw;
  }

  .dashboardBanner {
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    gap: 0.5em;
    padding-bottom: 1em;
    width: 100%;
  }

  .dashboardBanner h2 {
    font-size: 0.9em;
    width: 80%;
  }

  .searchHolder {
    width: 80%;
  }

  .searchResults {
    width: 80%;
  }
}
